@use '@angular/material' as mat;

$primary-palette: mat.define-palette(mat.$indigo-palette, 800);  // Usando un color azul más oscuro
$accent-palette: mat.define-palette(mat.$amber-palette, A400);  // Color más cálido
$warn-palette: mat.define-palette(mat.$deep-orange-palette);  // Un rojo más intenso para advertencias

$my-theme: mat.define-light-theme((
  color: (
    primary: $primary-palette,
    accent: $accent-palette,
    warn: $warn-palette
  )
));

@include mat.all-component-themes($my-theme);
