<style>
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: #f4f4f4;
}

.login-card {
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

img{
  width: 100%;
}


input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #3f51b5;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #303f9f;
}

.error-message {
  color: red;
  margin-top: 10px;
}
</style>

<app-navbar></app-navbar>
<div class="login-container">
  <mat-card class="login-card">
    <img mat-card-img src="../../../assets/imgs/logo-cadiz.png">
    <h2>Iniciar sesión</h2>
    <form (ngSubmit)="onSubmit()">
      <div>
        <label for="email">Correo electrónico</label>
        <input
          id="email"
          type="email"
          [(ngModel)]="email"
          name="email"
          required
          placeholder="Introduce tu correo electrónico"
        />
      </div>

      <div>
        <label for="password">Contraseña</label>
        <input
          id="password"
          type="password"
          [(ngModel)]="password"
          name="password"
          required
          placeholder="Introduce tu contraseña"
        />
      </div>

      <button type="submit" [disabled]="!email || !password">Iniciar sesión</button>

      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
    </form>
  </mat-card>
</div>
